#copyright{text-align: center;}

	  .menu{background-color: white;
		line-height: 15px;
		padding:0;
	    position: fixed;
	    width: 100%;
	       }


   
<!----------------cards------------------->
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
<! -------------FLEXCONTAINERS--------------->

.flex-container1{
  display: flex;
  background-color: DodgerBlue;


}

.flex-container1> div {
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.flex-container2 {
  display: flex;
  background-color: DodgerBlue;
  

}

.flex-container2 > div {
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.flex-container3 {
  display: flex;
  background-color: DodgerBlue;
  

}

.flex-container3 > div {
  background-color:transparent;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container
<!------mise en page du premier pragraphe------->
	
.paragraphe1{ margin-left: 15%;
  margin-top: 30px;
  width: 900px;
  height: 200px;
  padding: 25px;
  box-shadow: 10px 10px 10px #000000   ;}
    
    .why{display: flex;
  flex-img1-right, .flex-paragraphe1-left {
    flex: 100%;}

    .paragraphe1 {font-family: italic;
	text-align: left;
border:1px solid;}
}
  <!------------------------------------------->
    p {
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 {font-family: cursive;
text-align: center;
color: blue;
}
<!---------------header-------------------------->

<!-----barre de navigation--------------------->

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      position: fixed;
    }

    li { 
      float: right;

    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

    }

    li a:hover {
      font-size: 150%;
      color:blue;

    }
    li {
      border-right: 1px solid black;
    }

    li:only-child {
      border-right: none;
    }
    li :last-child{
      border-right: none;
    }
    ul {
      position: -webkit-sticky; 
      position: sticky;
      top: 0; 
      list-style-type: none;
      }

  li.dropdown {
      display: inline-block;
    }
    header {
          width: 100%;
          height: 100vh;
          background-size: cover;
          background-image: url("fond.jpg")
      }